.breadcrumb li {
    display: inline;
}

.breadcrumb li.location+li.location::before {
    content: ">";
}

a:hover {
    font-size: 20px;
    text-decoration: underline;
    color: rgb(28, 166, 58);
}

.breadcrumb li.attribute a {
    color: blue;
}

.breadcrumb li.attribute::after {
    content: " x";
    color: red;
    font-size: 10px;
    vertical-align: super;
}